.container {
    display: flex;
    width: 640px;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 40px 40px;
}

.header {
    width: 640px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.wrapper {
    width: 516px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
}

.indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 56px;
    gap: 8px;
}

.image {
    height: 240px;
    width: auto;
}